.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/bg2.png');
    &__descr {
        font-family: 'Nunito Sans';
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 8px;
    }
}