.title  {
    display: block;
    margin: 0 auto;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #0D0D0D;
    text-align: center;
    margin-top: 70px;
    text-transform: uppercase;
    &_left {
        color: #FFFFFF;
        font-size: 36px;
        text-align: left;
        margin-top: 0;
    }
}